<div class="container-fluid p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h5>Circuito : {{circuito}}</h5>
                </div>
                <div class="card-body">
                    <form action="/carreras/add/{{circuito}}" method="post">
                        <table class="table table-bordered">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Equipo</th>
                                    <th scope="col">Piloto</th>
                                    <th scope="col">Tiempo</th>
                                    <th scope="col">Ubicacion</th>
                                    <th scope="col">Abandona</th>
                                    <th scope="col">Razon</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each valores.equipos}}
                                    <tr>
                                        <td scope="row"><input type="text" class="form-control" name="escuderia" value="{{escuderia}}" /></td>
                                        <td scope="row"><input type="text" class="form-control" name="pilotos" value="{{piloto1}}" /></td>
                                        <td><input type="text" class="form-control" name="minutos" placeholder="minutos totales" /></td>
                                        <td><input type="number" class="form-control" name="ubicacion" placeholder="ubicacion" /></td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="abandona" id="inlineCheckbox1" value="No" checked>
                                                <label class="form-check-label" for="inlineCheckbox1">No</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="abandona" id="inlineCheckbox2" value="Si">
                                                <label class="form-check-label" for="inlineCheckbox2">Si</label>
                                            </div>
                                        </td>
                                        <td>
                                            <select class="form-select" name="razon">
                                                <option value="">Selecciona Razon</option>
                                                <option value="Tecnico">Técnico</option>
                                                <option value="Personal">Personal</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row"><input type="text" class="form-control" name="escuderia" value="{{escuderia}}" /></td>
                                        <td><input type="text" class="form-control" name="pilotos" value="{{piloto2}}" /></td>
                                        <td><input type="text" class="form-control" name="minutos" placeholder="minutos totales" /></td>
                                        <td><input type="number" class="form-control" name="ubicacion" placeholder="ubicacion" /></td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="abandona" id="inlineCheckbox1" value="No" checked>
                                                <label class="form-check-label" for="inlineCheckbox1">No</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="abandona" id="inlineCheckbox2" value="Si">
                                                <label class="form-check-label" for="inlineCheckbox2">Si</label>
                                            </div>
                                        </td>
                                        <td>
                                            <select class="form-select"  name="razon">
                                                <option value="">Selecciona Razon</option>
                                                <option value="Tecnico">Técnico</option>
                                                <option value="Personal">Personal</option>
                                            </select>
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Grabar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>